.HeroContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.HeroChartContainer {
	display: none;
}

.HeroChartContainer * {
	overflow: hidden;
}

.HeroChartContainer table td,
.HeroChartContainer table tr {
	border: none;
}

.HeroTextContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: var(--hero-text-background-color);
	padding: 56px 20px;
}

.HeroTextContainer p {
	font-size: 18px;
	margin: 0;
	padding-top: 20px;
}

.HeroTextContainer svg {
	color: var(--icon-color);
}

.HeroButtonsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	padding-top: 24px;
}

.HeroButton {
	flex: 1 0 100%;
	text-align: center;
	border-radius: 56px;
	padding: 1rem;
	font-weight: 600;
	border: 1px solid var(--hero-button-border-color);
	white-space: nowrap;
	color: var(--hero-button-text-color);
}

.HeroButton:hover {
	background: var(--hero-button-hackground-color-hover);
	color: var(--hero-button-text-color);
	text-decoration: none;
}

.HeroButton:active {
	background: rgba(224, 227, 235, 1);
}

.HeroButtonPrimary {
	color: #FFFFFF;
	background: #2962FF;
	border: none;
}

.HeroButtonPrimary:hover {
	color: #FFFFFF;
	background: rgba(30, 83, 229, 1);
	text-decoration: none;
}

.HeroButtonPrimary:active {
	color: #FFFFFF;
	background: rgba(24, 72, 204, 1);
}

.LargeCardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
	padding: 0px 20px;
}

.LargeCard {
	background: var(--card-background-color);
	padding: 20px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.LargeCard h2 {
	margin: 0;
}

.LargeCard p {
	color: var(--large-card-paragraph-text-color);
}

.LargeCard svg {
	color: var(--icon-color);
}

.SmallCardContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 48px 20px;
}

.SmallCard {
	flex: 1 0 100%;
	padding: 24px;
	border: 1px solid var(--small-card-border-color);
	border-bottom: none;
}

.SmallCard1 {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.SmallCard4 {
	border-bottom: 1px solid var(--small-card-border-color);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.SmallCard h3 {
	font-size: 18px;
}

.SmallCard p {
	font-size: 14px;
	color: var(--card-paragraph-color);
}

.LargeTextContainer {
	display: flex;
	flex-wrap: wrap;
	padding: 56px 20px;
}

.LargeTextContainer h1 {
	text-align: center;
	font-size: 32px;
}

.LargeTextContainer p {
	font-size: 18px;
	text-align: left;
}

.RootContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

@media (min-width: 767.5px) {
	.RootContainer {
		max-width: unset;
	}

	.HeroButtonsContainer {
		min-width: unset;
		flex-wrap: unset;
	}

	.HeroButton {
		flex: 1 1 50%;
		padding: 16px 32px;
	}

	.LargeCard {
		flex: 0 1 48.9%;
	}

	.LargeCard3 {
		flex: 1 0 100%;
	}

	.SmallCardContainer {
		padding-bottom: 64px;
	}

	.SmallCard {
		flex: 0 1 50%;
	}

	.SmallCard1 {
		border-top-right-radius: unset;
	}

	.SmallCard2 {
		border-top-right-radius: 16px;
		border-left: unset;
	}

	.SmallCard3 {
		border-bottom-left-radius: 16px;
		border-bottom: 1px solid var(--small-card-border-color);
	}

	.SmallCard4 {
		border-bottom-left-radius: unset;
		border-left: unset;
	}
}

@media (min-width: 1279.5px) {
	.HeroContainer {
		position: relative;
		align-self: stretch;
	}

	.HeroChartContainer {
		display: unset;
		height: 600px;
		width: 100%;
	}

	.HeroTextContainer {
		position: absolute;
		z-index: 2;
		top: 77px;
		border-radius: 32px;
		padding: 56px;
		width: 840px;
		height: 446px;
	}

	.LargeTextContainer {
		max-width: 75%;
		justify-content: center;
	}

	.LargeCardContainer {
		flex-wrap: nowrap;
	}

	.LargeCard, LargeCard3 {
		flex: 0 1 30%;
	}

	.SmallCardContainer {
		flex-wrap: nowrap;
	}

	.SmallCard {
		flex: 0 1 23%;
	}

	.SmallCard1 {
		border-top-right-radius: unset;
		border-bottom-left-radius: 1rem;
		border-bottom: 1px solid var(--small-card-border-color);
	}

	.SmallCard2 {
		border-top-right-radius: unset;
		border-left: unset;
		border-bottom: 1px solid var(--small-card-border-color);
	}

	.SmallCard3 {
		border-bottom-left-radius: unset;
		border-left: unset;
		border-bottom: 1px solid var(--small-card-border-color);
	}

	.SmallCard4 {
		border-top-right-radius: 1rem;
		border-bottom-left-radius: unset;
		border-left: unset;
	}
}

@media (min-width: 1919.5px) {
	.LargeTextContainer {
		max-width: 960px;
	}

	.LargeTextContainer h1 {
		font-size: 48px;
		font-weight: 600;
		line-height: 48px;
	}

	.LargeTextContainer p {
		font-size: 24px;
		line-height: 36px;
	}

	.LargeCardContainer {
		max-width: 1480px;
		justify-content: unset;
	}
	
	.LargeCard {
		flex: 0 1 472px;
	}

	.SmallCardContainer {
		max-width: 1480px;
		justify-content: unset;
	}

	.SmallCard {
		flex: 0 1 369px;
	}
}
