!.eslintrc.js
!.size-limit.js

/dist/**
!/dist/typings.d.ts
/lib/**

/src/typings/_resize-observer/index.d.ts

**/node_modules

/website/docs/api/**
/website/versioned_docs/**/api/**
/website/build/**
/website/static/plugin-demos/**
/website/static/plugin-previews/**
/website/src/theme/**/*.js

/plugin-examples
/indicator-examples
/packages/create-lwc-plugin
/packages/lwc-toolkit
/packages/lwc-plugin-*

/debug
/tests/fixtures
