!.eslintrc.js
!.size-limit.js
!.mocharc.js

/dist/**
!/dist/typings.d.ts
/lib/**

/src/typings/_resize-observer/index.d.ts

**/node_modules

/website/docs/api/**
/website/versioned_docs/**/api/**
/website/build/**
/website/src/theme/**/*.js

/plugin-examples
/packages/create-lwc-plugin
