.SquareButton {
	font-style: normal;
	font-weight: 590;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.025em;
	font-feature-settings: 'tnum' on, 'lnum' on;

	border-radius: 12px;
	padding: 16px 32px;
	display: flex;
	align-items: center;
	background-color: var(--cta-button-secondary-background);
	color: var(--cta-button-text-color);
	outline: 1px solid var(--cta-button-border-color);
	outline-offset: -1px;
}

.SquareButton:hover {
	text-decoration: none;
	color: var(--cta-button-text-color);
	background-color: var(--cta-button-secondary-background-hover);
	outline: none;
}

.SquareButton:active {
	background-color: var(--cta-button-secondary-background-active);
	outline: none;
}

.SquareButton[data-primary] {
	background-color: var(--cta-button-primary-background);
	color: #fff;
	outline: none;
}

.SquareButton[data-primary]:hover {
	background-color: var(--cta-button-primary-background-hover);
}

.SquareButton[data-primary]:active {
	background-color: var(--cta-button-primary-background-active);
}

.SquareButton svg {
	margin-left: 12px;
	color: var(--cta-svg-color);
}

.SquareButton:focus-visible {
	outline-color: var(--tv-blue-500);
	outline-width: 2px;
	outline-offset: 4px;
}

/* Phone-Vertical */
@media (max-width: 567px) {
	.SquareButton {
		justify-content: center;
	}
}
