/* Tablet-Landscape */
@media (max-width: 1279px) {
	.HeroMain {
		text-align: center;
	}
	.HeroButtons {
		justify-content: center;
	}
}

/* Phone-Vertical */
@media (max-width: 567px) {
	.HeroButtons {
		flex-direction: column !important;
		align-items: initial !important;
	}
}

.HeroContainer {
	display: flex;
	flex-direction: var(--hero-flex-direction);
	align-items: center;
	width: 100%;
	margin-bottom: 80px;
	gap: var(--hero-gap);
	padding-inline: var(--container-padding);
	padding-right: var(--chart-right-edge-spacing);
	max-width: 1920px;
}

.HeroMain {
	display: flex;
	flex-direction: column;
	width: var(--hero-main-width);
}

.HeroMain h1 {
	/* Accent Adaptive/L Euclid/56px Desktop */
	font-family: 'Euclid Circular B';
	font-style: normal;
	font-weight: 600;
	font-size: var(--hero-title-font-size);
	line-height: var(--hero-title-line-height);
	/* or 114% */
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: var(--hero-title-color);
	margin: 0px;
	margin-bottom: var(--hero-content-gap-top);
}

.HeroMain p {
	/* Regular/24px */
	font-style: normal;
	font-weight: 400;
	font-size: var(--hero-content-font-size);
	line-height: var(--hero-content-line-height);
	letter-spacing: 0.0027em;
	font-feature-settings: 'tnum' on, 'lnum' on;
	color: var(--hero-content-color);
	margin: 0px;
	margin-bottom: var(--hero-content-gap-bottom);
}

.HeroButtons {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}
