@import url('https://fonts.cdnfonts.com/css/menlo?styles=15444');

:root {
	--code-c1: #089981;
	--code-c2: #9c27b0;
	--code-c3: #673ab7;
	--code-c4: #2962ff;
}

/* Phone-Vertical */
@media (max-width: 567px) {
	aside[data-name='npm'] {
		display: none !important;
	}
}

/* Phone-Vertical */
@media (max-width: 1919px) and (min-width: 1280px) {
	aside[data-name='import'] {
		display: none !important;
	}
}

.Block {
	/* Glass effect */
	border-radius: 16px;
	background: rgba(0, 0, 0, 0.02);
	backdrop-filter: blur(10px);
	padding: 8px;

	position: absolute;

	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	font-feature-settings: 'tnum' on, 'lnum' on;

	font-family: 'Menlo', monospace;
	color: var(--tv-cold-gray-50);
	transform: scale(var(--code-block-scale, 1));
	user-select: none;
	cursor: default;

	z-index: 1;
}

.Block[data-can-select=true] {
	user-select: text;
	cursor: auto;
}

/* Possible future feature, click to copy content */
/* .Block[data-can-copy=true] {
	cursor: pointer;
} */

:root[data-theme='dark'] .Block {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(7.5px);
}

.BlockContent {
	border-radius: 8px;
	background-color: var(--tv-cold-gray-50);
	color: var(--tv-cold-gray-550);
	opacity: 0.8;
	box-shadow: 0px 4.34171px 43.4171px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(50px);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-block: 14px;
}

:root[data-theme='dark'] .BlockContent {
	background-color: black;
	color: var(--tv-cold-gray-500);
	box-shadow: 0px 4.34171px 43.4171px rgba(0, 0, 0, 0.85);
}

.Line {
	display: flex;
	flex-direction: row;
	padding-right: 18px;
}

.LineNumber {
	color: var(--tv-cold-gray-300);
	width: 18px;
	margin-inline: 18px;
	user-select: none;
}

:root[data-theme='dark'] .LineNumber {
	color: var(--tv-cold-gray-800);
}

.Line span[data-c1] {
	color: var(--code-c1);
}

.Line span[data-c2] {
	color: var(--code-c2);
}

.Line span[data-c3] {
	color: var(--code-c3);
}

.Line span[data-c4] {
	color: var(--code-c4);
}
